<% if(country) { %>

<div>
  <h1><%= country.name[0] %> <span><%= country.emoji %></span></h1>
  <p>
    also known as: <% country.name.slice(1).map(name => { %>
    <span><%= name %>,</span>
    <% }) %>
  </p>
</div>

<div>
  <p>
    Currency: <% country.currency.map(item => { %>
    <span
      ><%= item.currency %> (<%= item.symbol %>, <%= item.alphaCode %>),</span
    >
    <% }) %>
  </p>
  <p>Country code: <%= country.callingCodes[0] %></p>
  <p>
    Languages spoken: <% country.languages.map(language => { %>
    <span><%= language.name %>, </span>
    <% }) %>
  </p>
</div>

<% } %>
